<!doctype html>
<html lang="<%= site.locale %>">
  <head>
		<% if ENV["BRIDGETOWN_ENV"] == "production" %>
			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-89ZFGKP12M"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'G-89ZFGKP12M');
			</script>
		<% end %>
    
    <%= render "head", metadata: site.metadata, title: data.title, layout: data.layout %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reenie+Beanie&display=swap" rel="stylesheet">
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource.data.title, current_sprint_url: collections.sprints.last.relative_url) %>

    <main>
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata, resource: resource.data.title, current_sprint_url: collections.sprints.last.relative_url %>
  </body>
</html>
