---<%
{
	layout: :page,
	title: "Today I learned by Rachael Kalicun",
	description: "Snippets of what Rachael Kalicun is learning.",
	permalink: "/today-i-learned/",
	paginate: {
		collection: :tils,
		per_page: 10
	}
}
%>---

<div class="mx-auto my-0 p-[20px] pb-[24px]">
	<h2 class="mt-0 alt_font text-3xl">Today I Learned</h2>
	<% paginator.resources.each do |til| %>
		<div class="mb-10">
			<div class="post-date"><%= til.data.date.to_date.strftime("%B %d, %Y") %></div>
			<div class="mt-0 mb-0">
				<h3 class="post-title">
					<a href="<%= til.relative_url %>"><%= til.data.title %></a>
				</h3>
				<p><%= til.data.summary %></p>
			</div>
		</div>
	<% end %>
	<% if paginator.total_pages > 1 %>
		<div class="pagination flex justify-between">
			<% if paginator.previous_page %>
			<div>
				<a href="<%= paginator.previous_page_path %>">← Previous Page</a>
			</div>
			<% end %>
			<% if paginator.next_page %>
			<div>
				<a href="<%= paginator.next_page_path %>">Next Page →</a>
			</div>
			<% end %>
		</div>
	<% end %>
</div>
