<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<% resource_layout = strip_html(strip_newlines(layout)) %>
<title>
	<% if resource_title != "Home" %>
		<%= resource_title %>
		<% if resource_layout == "page" %> by Rachael Kalicun<% end %>
	<% else %>
		<%= metadata.title %>
	<% end %>
</title>
<meta property="og:title" content="<%= resource.data.og_title || resource.data.title %>" />
<meta property="og:description" content="<%= resource.data.og_description || resource.data.description %>" />
<meta property="og:image" content="https://www.rachaelkalicun.com<%= resource.data.og_image %>" />

<link rel="icon" type="image/png" href="/images/favicon.png">
<meta name="description" content="<%= resource.data.description || metadata.description %>" />
<% if resource.data.pagination_info %>
	<% url = absolute_url resource.relative_url %>
	<link href="<%= url %>" rel="canonical">
<% else %>
	<link href="<%= resource.absolute_url %>" rel="canonical">
<% end %>
<link rel="stylesheet" href="<%= asset_path :css %>" />
<script src="<%= asset_path :js %>" defer></script>
<link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Blog posts by Rachael Kalicun" />
<link type="application/atom+xml" rel="alternate" href="/feed/tils.xml" title="Today I Learned by Rachael Kalicun" />
<link type="application/atom+xml" rel="alternate" href="/feed/tangible_works.xml" title="Tangible Work by Rachael Kalicun" />
<link type="application/atom+xml" rel="alternate" href="/feed/sprints.xml" title="Personal Agile sprints by Rachael Kalicun" />
<%= live_reload_dev_js %>
