<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Home" %><%= resource_title %><% else %><%= metadata.title %><% end %></title>
<link rel="icon" type="image/png" href="/images/favicon.png">
<meta name="description" content="<%= resource.data.description || metadata.description %>" />
<link rel="canonical" href="<%= resource.absolute_url %>">
<link rel="stylesheet" href="<%= asset_path :css %>" />
<script src="<%= asset_path :js %>" defer></script>
<link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Blog posts by Rachael Kalicun" />
<link type="application/atom+xml" rel="alternate" href="/feed/tils.xml" title="Today I Learned by Rachael Kalicun" />
<link type="application/atom+xml" rel="alternate" href="/feed/tangible_works.xml" title="Tangible Work by Rachael Kalicun" />
<%= live_reload_dev_js %>
